@import url("/stylesheets/site_all.css");

li#about {background: url("/images/empanada-logo-background-only.png");}
li#about a:hover {color: black;}

#central_content h1 { float: left; width: 70%;  font-weight: 400; color: white; font-family: "Amperzand"; float: left; 
font-size: 1.9em; margin-top: .5em; margin-left: .5em;}

#central_content img.logo {width: 25%; margin-right: 1%; float: left;}
#dream_truck {width: 50%; float: left;}
#central_content p {float: left; width: 70%;}
#central_content  a {color: white; text-decoration: underline; font-weight: 900;}
