@import url("/stylesheets/site_all.css");
ul, li, h3, h1 {color: white;}
img#flyer {float: left; width: 70%;}

#download {float: left; width: 100%; position: relative; margin-top: 1em; margin-bottom: 1em;}
#hard_link {float: left; width: 20%; font-size: 1.5em; color: white; margin-left: 1%; margin-top: 5em;}
