@import url("/stylesheets/site_all.css");
ul, li, h3, h1 {color: white;}
img#flyer {float: left; width: 70%;}

#central_content h1 {font-family: "Amperzand"}

#central_content h3 {font-family: "classic-round"}
#central_content a {color: white;}
#download {float: left; width: 100%; position: relative; margin-top: 1em; margin-bottom: 1em;}
#hard_link {float: left; width: 20%; font-size: 1.5em; color: white; margin-left: 1%; margin-top: 5em;}
#painted-truck {float: left; width: 45%;}
#truck-pic {float: left; width: 100%; list-style-type: none;}
