@import url("/stylesheets/site_all.css");
#explanation {position: relative; float: left; width: 100%}
#explanation img {width: 20%; float: left;}
#explanation p {width: 75%; margin-left: 2%; float: left;}
.tumblr_title {font-size: 18pt; color: white; font-weight: 800; float: left;}
#right_column a {color: #262626; text-decoration: underline; font-weight: 900;}
