@import url("/stylesheets/site_all.css");

#header {width: 25%;}
#header img {width: 100%; float: left; margin-top: 1em;}
#general {float: left; width: 73%; margin-left: 2%;}

.media{float: left; width: 21%; padding: .1em; color: white; font-size: 1.15em}

.wrapper {float: left; width: 100%; margin-top: .4em}
.wrapper a {color: white; text-decoration: underline;}
span.value {font-size: 1.3em; float: left; width: 74%; color: white;}



#right_column h2 {float: left; width: 100%, padding: 0; font-family: "arabolic"; font-size: 2em; color: white;}


#right_column p {float: left; width: 100%; margin: 0; margin-bottom: 1em;}
#right_column h3 {float: left; width: 100%; font-family: "arabolic"}
#party img {float: left; width: 49%;}
img#cell {float: left; width: 30%;}

h2#text-title {font-size: 2em; width: 30%}
a.signup_button_round {color: white; font-weight: 900;}
.success {font-family: "arabolic"; font-size: 1.9em; float: left; width: 100%; color: white;}

#crystal img {float: left; margin-left: 15%}