@import url("/stylesheets/site_all.css");

li#contact_link {background: url("/images/empanada-logo-background-only.png");}
li#contact_link a:hover {color: black;}

#right_column h2 {float: left; width: 100%, padding: 0; font-family: "arabolic"; font-size: 2em; color: white;}


#right_column p {float: left; width: 100%; margin: 0;}
#right_column h3 {float: left; width: 100%; font-family: "arabolic"}
#party img {float: left; width: 49%;}
p#first {float: left; width: 50%; }
img#cell {float: left; width: 30%;}

h2#text-title {font-size: 2em; width: 30%}
a.signup_button_round {color: white; font-weight: 900;}
.success {font-family: "arabolic"; font-size: 1.9em; float: left; width: 100%; color: white;}

#crystal img {float: left; margin-left: 15%}