@import url("/stylesheets/site_all.css");

li#contact_link {background: url("/images/empanada-logo-background-only.png");}
li#contact_link a:hover {color: black;}

#central_content {padding-left: 2%;}
#central_content h2 {float: left; width: 100%; padding: 0; font-family: "arabolic"; font-size: 2em; color: white;}

#texts {float: left;}

#central_content p {float: left; padding: .3em; width: 70%}
#central_content h3 {float: left; width: 100%; font-family: "arabolic"}
#party img {float: left; width: 49%;}
p#first {float: left; width: 50%; }
img#cell {float: left; width: 15%;}

h2#text-title color: white; width: 100%; float: left;}

a.signup_button_round {color: white; font-weight: 900; font-size: 1.4em;}
.success {font-family: "arabolic"; font-size: 1.9em; float: left; width: 100%; color: white;}

#crystal img {float: left; margin-left: 15%}