@import url("/stylesheets/site_all.css");

#header img {width: 105%; margin-left: 0;
				border: solid .5em black; float: left;}
				
#photo_border {border: solid .6em #57b6dd; position: relative; float: left; width: 22em; -moz-border-radius: 12px;
	margin: auto; margin-left: 10%;}


#slideshow {
    position:relative; height: 15em;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
opaciity:  0.0;
}

#slideshow DIV.active {
    z-index:10; opacity: 1;
}

#slideshow DIV.last-active {
    z-index:9;}
#slideshow img {float: left; width: 21.7em; height: 14.7em;}

#news {float: left; width: 100%}
#news_left {float: left; width: 25%; }
#news h3 {font-size: 1.5em; color: white; font-family: "Arabolic", sans-serif;}
#news_right {float: left; width: 70%; margin-left: 3%; position: relative; }
a.news-item {float: left; width: 100%; margin-bottom: .4em; position: relative;}
.news-item img {width: 13%; float: left;}
.news-item { color: white; font-weight: 800; ;}
.news-item span {margin-left: 5%; text-decoration: underline;  sans-serif; font-size: 12pt; width: 80%; float: left;}
#details {widith: 1.5em;em;}

#right_column h2 {font-family: "arabolic"; font-size: 2em; width: 100%; float: left; color: white;}
#right_column h2 a {color: white;}
