<div>
<p>If you received this email as a forward, and would like to continue receiving it in the future, reply with subject line "SUBSCRIBE".
	
<p>You're receiving this email because you signed up for the Street Eats Beat or a well-meaning friend signed you up. Reply with subject line 'UNSUBSCRIBE' if you'd like to stop receiving the Street Eats Beat.</p>  
<p>
<p>Reply with any other subject line to chat with us in a less robotic kind of way.</p>
<p>