<ul style="color: black; font-size: 10pt; width: 100%; float: left; position: relative; padding: 0; font-size; .8em;">
	<li style="list-style-type: none; margin-left: 0; float: left; margin-right: 10px;" >
		<a href="http://www.empanadaintifada.com">www.empanadaintifada.com</a>
	</li>
	<li style="float: left; margin-right: 10px;">		
		(504) 684-5358	
	</li>
	
	<li style="float: left;">
		<a href="http://empanadaintifada.tumblr.com">
			empanadaintifada.tumblr.com
		</a>
	</li>
</ul>