<div style="border: #e0e0e0 solid .2em; width: 95%; float: left; position: relative; padding: 2.5%;">
	<img src="http://www.empanadaintifada.com/images/street-eats-beat-logo.png"/ style="width: 100%; float: left;">
<p>Howdy <%= @user.name.split[0] %>,</p>
<p>Welcome to the Empanada Intifada's "Street Eats Beat." The Empanada is mystery wrapped in a flaky crust. Hopefully we can help you unwrap it. </p>

<p>From henceforth, we will try to ensure that a letter comes to your inbox once a week.  Sometimes it will be a pre-cap of our weekly plan.  Sometimes we will have information about interesting things other trucks and pop-ups are doing.  Sometimes it will be long, sometimes short.  Sometimes we will forget to write it.  
</p>

<p>
We're interested in getting to know you, our regular empanada eaters.  If you have concerns, comments, compliments, or cool stories, we want to hear them.  We're still learning as we go - help us become the best spot(s) to eat in New Orleans by giving us a little feedback every once in a while.  Email empanada.intifada@gmail.com anytime you like.
</p>

<p>
A few more resources: </p>

<p>
If you want even faster alerts, sign up for one of our text message alert groups:
<div class="text_instruction_wrapper">
	<span class="keyword">text FANATIC to (504)684-5358  </span> 

	<span class="explanation">(Get every movement of the Empanada Intifada)</span>
	</div>
	<div class="text_instruction_wrapper">
		
	<span class="keyword">text DAILY to (504)684-5358 </span>
	<span class="explanation"> (Get a daily digest text with the general outlines of our plan each morning).  </span>
	</div>
	<div class="text_instruction_wrapper">
				
	<span class="keyword">text TULANE to (504)684-5358 </span><span class="explanation">(Uptown near Tulane and Loyola campuses)</span>
	</div>
	
	<div class="text_instruction_wrapper">		
	<span class="keyword">text BROAD to (504)684-5358  </span><span class="explanation">(Broad St between Canal and Poydras)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text UPTOWN to (504)684-5358 </span> <span class="explanation"> (Uptown watering holes and lunch spots)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text CBD to (504)684-5358 </span><span class="explanation">(the outskirts of the CBD - either Claiborne Ave near hospitals or Howard Ave)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text GARDEN to (504)684-5358  </span> <span class="explanation">(the Garden District and Central City)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text FRENCHMEN to (504)684-5358  </span> <span class="explanation">(Frenchmen, late night and maybe lunch)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text BYWATER to (504)684-5358 </span><span class="explanation">	(The rest of the Marigny/Bywater)</span>
	</div>

</div>

<p>
and the blog: empanadaintifada.tumblr.com
and the twitter:  @empanadaintifad
and the facebook: facebook.com/empanadaintifada
</p>

<p>
Talk to you soon!
</p>

<p>
Taylor and the rest of the Empanada Intifada
</p>

<p>
reply with subject line 'UNSUBSCRIBE' to unsubscribe.  Reply with any other subject line to talk to us in a less robotic kind of way.</p>