<div style="border: #e0e0e0 solid .2em; width: 95%; float: left; position: relative; padding: 2.5%; font-size: 1.3em;">
	<img src="http://www.empanadaintifada.com/images/street-eats-logo.png"/ style="width: 100%; float: left; min-width: 200px;">
<p>Greetings Empanadero,</p>
<p>hello<p>
<%= @email.content.html_safe %> 
