body {background-color:  #57b6dd;}

@font-face {
  font-family: "Amperzand";
	src: url(/stylesheets/fonts/Amperzand.eot);
	src: local('Amperzand'),
  	url(/stylesheets/fonts/Amperzand.ttf) format("truetype");
}

@font-face {
  font-family: "Rockwell-Extra-Bold";
	src: url(/stylesheets/fonts/rockwell-extra-bold.eot);
	src: local('rockwell-extra-bold'),
  	url(/stylesheets/fonts/rockwell-extra-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Jura-regular";
  src: url(/stylesheets/fonts/Jura-Regular.ttf) 
	format("truetype");
}
@font-face {
  font-family: "Jura-bold";
  src: url(/stylesheets/fonts/Jura-bold.ttf) 
	format("truetype");
}

@font-face {
  font-family: "Arabolic";
  src: url(/stylesheets/fonts/Arabolic.eot);
  src: local('Arabolic'),
  url(/stylesheets/fonts/Arabolic.ttf) 
	format("truetype");
}
@font-face {
  font-family: "Classic-Round";
  src: url(/stylesheets/fonts/classicround-medium.eot);
 local: url('classicround-medium'),
  url(/stylesheets/fonts/classicround-medium.otf);
}

a {color: white; text-decoration: underline;}
img {border-style: solid; border-width: .1em;  border-color: #262626; }
p, a, form, span, h1, h2, h3, ul, ol, li {font-family: "Classic-Round", sans-serif; font-size: 1.4em, }
#right_column a:hover {color: #57b6dd}
#ei { font-family: "Arabolic", sans-serif; font-size: 50pt;
text-align: center; float: left; }
#tagline {float: left; text-align: center; width: 100%;
	 font-family: "Amperzand", sans-serif; font-size: 30pt; 
		margin-top: .5em;}
		
	
	
#nav { float: left; width: 91.5%; min-width: 800px; margin-left: 4%; 		
	margin-bottom: .2em;	
	font-size: 20pt; color: white; background: black; margin-top: 0;
 	list-style-type: none; padding: 0; 
	border-style: solid; border-width: 5px;  border-color: #262626; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px;
	}
#special_news { float: left; width: 90.5%; margin-left: 4%; 		
		margin-bottom: .2em; padding: .5em;
		font-size: 11pt; color: white; background: black; margin-top: 0;
	 	list-style-type: none;
		border-style: solid; border-width: 5px;  border-color: #262626; 
		-webkit-border-radius: 8px; 
		-moz-border-radius: 8px;
		}	
#sn_text {float: left; width: 85%;}
#sn_pic {float: left; width: 8%; position: relative;}
#sn_pic img{float: left; width: 100%}
#special_news h1 {font-family: "Rockwell-extra-bold", sans-serif; font-size: 14pt; font-weight: 400; padding: 0; float: left;margin: .1em;}
#special_news p {float: left; padding: 0; margin: .1em;}		
#special_news a {color: white;}
#nav a {font-family: "Amperzand"; list-style-top: none;}
#nav li {margin-bottom: .4em; color: white; float: left; width: 14%;
	text-align: center;
	padding-top: .2em;
	border-right: solid .1em #262626;}
li#contact_link {border-right: none;}
#nav a {color: white;}
#nav a:hover {color: #57b6dd;}
#header {float: left; width: 56%; position: relative; color: black;}
#header img  {float:left; width: 100%; margin-top: .1em; border-color: black; border-width: .2em; border-style: solid;}
#header h1 {float: left; width: 60%; margin-left: 10%; margin-right: 0%;
	position: relative;}


#email {font-weight: 900;}

#central_container {margin: 0 auto; float: left; margin-left: 4%; width: 90%; min-width: 800px;	
	position: relative; background-color: black; 
	border-style: solid; border-width: 15px;  border-color: black; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	background: #333 url("../../images/steel_texture.png"); padding-bottom: 2.5em}

#facebook_like {width: 225px; border: solid .3em white;}
#central_container p {font-size: 14pt; color: white; font-family: "Classic-Round", arial; position: relative}	

#right_column {width: 63%; margin-left: 3%; position: relative; float: left;}

#left_column {width: 32%; min-height: 60em; position: relative; float: left; background: none repeat scroll 0% 0% rgb(38, 38, 38); padding-left: 2%; margin: 0px;}
#left_column h3 {color:white; }
#left_column p {font-size: 10pt;}
#left_column iframe {background: #57b6dd;}
#twitter_explanation {width: 90%; margin-left: 0; font-family: "Classic-Round"}
#twitter_explanation a {color: white; text-decoration: underline;}
#twtr-widget-1 {margin-top: .4em;}
#left_column a {border: none;; padding: none; color: white; }
#left_column a img  {border: none;}

#footer {float: left; margin: 0 auto; float: left; margin-left: 1%; width: 99%; margin-top: .3em; 	
	position: relative; padding-bottom: 1.5em;}

#footer li {width: 20%; list-style-type: none; float: left; position: relative; color: black; font-family: "Classic-Round", sans-serif; font-weight: 900; font-size: .75em; padding: 0; margin: 0;}
li#email {width: 24%;}
li#blog {width: 23%;}
li#cell {width: 13%;}
#footer span.media {float: left; width: 100%; font-family: "amperzand"; font-size: 1.6em; color: white;}
#footer span.value {float: left; width: 100%; font-size: 1em; color: black;}
#footer a {color: black;}

#left_column span#arabolic {font-family: "Arabolic"; float: left; margin-bottom: .5em;}
/*used in contact and catering*/

#contact_info {float: left; width: 100%;  margin-left: 2%; font-size: .9em;}
#contact_methods {float: left; width: 70%; margin-top: .5em; margin-left: 3%; }
#contact_info span.value, #contact_info a {font-family: "Amperzand"; }
#contact_info #logo {width: 25%; position: relative; float: left; }
#contact_info #logo img {float: left; margin-top: 1em; width: 100%;}
.media{float: left; width: 21%; padding: .1em; color: white; font-size: 1.15em}

.wrapper {float: left; width: 100%; margin-top: .4em}
.wrapper a {color: white; text-decoration: underline;}
span.value {font-size: 1.3em; float: left; width: 74%; color: white;}
