body {background-color:  #57b6dd;}

@font-face {
  font-family: "Amperzand";
	src: url(/stylesheets/fonts/Amperzand.eot);
	src: local('Amperzand'),
  	url(/stylesheets/fonts/Amperzand.ttf) format("truetype");
}

@font-face {
  font-family: "Rockwell-Extra-Bold";
	src: url(/stylesheets/fonts/rockwell_extra_bold.eot);
	src: local('rockwell-extra-bold'),
  	url(/stylesheets/fonts/rockwell-extra-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Jura-regular";
  src: url(/stylesheets/fonts/Jura-Regular.ttf) 
	format("truetype");
}
@font-face {
  font-family: "Jura-bold";
  src: url(/stylesheets/fonts/Jura-bold.ttf) 
	format("truetype");
}

@font-face {
  font-family: "Arabolic";
  src: url(/stylesheets/fonts/Arabolic.eot);
  src: local('Arabolic'),
  url(/stylesheets/fonts/Arabolic.ttf) 
	format("truetype");
}
@font-face {
  font-family: "Classic-Round";
  src: url(/stylesheets/fonts/classicround-medium.eot);
 local: url('classicround-medium'),
  url(/stylesheets/fonts/classicround-medium.otf);
}

a {color: white; text-decoration: underline;}
img {border-style: solid; border-width: .1em;  border-color: #262626; }
p, a, form, span, h1, h2, h3, ul, ol, li {font-family: "Classic-Round", sans-serif; font-size: 1.4em, }
#right_column a:hover {color: #57b6dd}
#ei { font-family: "Arabolic", sans-serif; font-size: 50pt;
text-align: center; float: left; }
#tagline {float: left; text-align: center; width: 100%;
	 font-family: "Amperzand", sans-serif; font-size: 30pt; 
		margin-top: .5em;}
		
	
	
#nav { float: left; width: 91.5%; min-width: 800px; margin-left: 4%; 		
	margin-bottom: .2em;	
	font-size: 20pt; color: white; background: black; margin-top: 0;
 	list-style-type: none; padding: 0; 
	border-style: solid; border-width: 5px;  border-color: #262626; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px;
	}
	
	#nav a {font-family: "Amperzand"; list-style-top: none;}
	#nav li {margin-bottom: .4em; color: white; float: left; width: 12.3%;
		text-align: center;
		padding-top: .2em;
		border-right: solid .1em #262626;}
	li#contact_link {border-right: none;}
	#nav a {color: white;}
	#nav a:hover {color: #57b6dd;}
	
	
#special_news { float: left; width: 90.5%; margin-left: 4%; 		
		margin-bottom: .2em; padding: .5em;
		font-size: 11pt; color: white; background: black; margin-top: 0;
	 	list-style-type: none;
		border-style: solid; border-width: 5px;  border-color: #262626; 
		-webkit-border-radius: 8px; 
		-moz-border-radius: 8px;
		}	


#news_title {float: left; width: 34%; margin-bottom: .5em; 	
				}

#special_news h3 {float: left; font-size: 1.5em; color: white; font-family: "Arabolic", sans-serif; padding: 0; margin: 0; padding-left: .3em; margin-bottom: .5em; width: 100%; position: relative;}
				
#news_sliders {float: left; width: 60%; border-left: #535353 solid .2em; padding-left: 4%}

#special_news li {float: left;}	

.bx-controls {position: relative; right: 28%; bottom: 20px; width: 100px !important;}
.bx-pager-item {float: left; width: 15%;}	
		ul#news_items {float: left; width: 55%; margin-left: 3%; position: relative; }		

		#news .bx-viewport {float: left;}

		a.news-item {float: left; width: 100%; margin-bottom: 1em; position: relative;}
		#news li {float: left;}
		.news-item img {width: 13%; float: left;}
		.news-item { color: white; font-weight: 700; ;}
		.news-item span {margin-left: 5%; text-decoration: underline;  sans-serif; font-size: 1.3em; width: 55%; float: left;}
		#details {widith: 1.5em;em;}
		#tdm {background: white;}
		.new_item img.carousel {position: absolute; bottom: 5em;  z-index: 2; }
		#image_1 {position: relative; left: 5em; width: .3em;}


#special_news h1 {font-family: "Rockwell-extra-bold", sans-serif; font-size: 14pt; font-weight: 400; padding: 0; float: left;margin: .1em;}
#special_news p {float: left; padding: 0; margin: .1em;}		
#special_news a {color: white;}

#special_news li, #special_news ul {padding: 0px}
.bx-viewport {height: 55px !important;}
#go_nola_logo, #eater_nola_logo {width: 55px}

#last_tweet {float: left; width: 65%; position: relative; background: black; padding: 2% }
#twitter-logo {float: left; width: 4em;}
#last_tweet #most_recent_tweet {font-size: .8em; padding: 0; margin: 0; width: 30%; float: left; color: #c1c1c1; }
#last_tweet #tweet_time {font-size: 1em; padding: 0; width: 50%; margin: 0; color: #c1c1c1; margin-left: 5%; float: left;}
#last_tweet #tweet {float: left; width: 100%; font-size: .8em;}


#tweet_container {position: absolute; right: 0%; top: 0%; width: 10%; padding: .3em; border: solid #4b84f3 .1em;  z-index: 2;}
#tweet_container #last_tweet {width: 97%; background: #262626; border: solid yellow .1em; padding-bottom: .1em;}
#tweet_container #tweet_time {width: 100%}
#tweet_container #most_recent_tweet {width: 100%}



#central_container {margin: 0 auto; float: left; margin-left: 4%; width: 90%; min-width: 800px;	
	position: relative; background-color: black; 
	border-style: solid; border-width: 15px;  border-color: black; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	background: #333 url("../../images/steel_texture.png"); padding-bottom: 2.5em}




#facebook_like {width: 225px; border: solid .3em white;}
#central_container p {font-size: 14pt; color: white; font-family: "Classic-Round", arial; position: relative}	




#central_content {min-height: 20em;}

#twitter_explanation {width: 90%; margin-left: 0; font-family: "Classic-Round"}

#bottom_nav a img  {border: none;}
#bottom_nav a img.rss_button {width: 35%; margin-right:  30%; border: solid #efefef .3em; }

#bottom_nav {width: 99.5%; float: left; position: relative;  padding-left: .5%; position: relative; margin-top: 3em;}

ul#social_media {padding: 0; width: 95%; float: left; margin: 0; margin-left: 1.5%; position: relative;}

#social_media li {list-style-type: none; border-left: solid #262626 .4em; border-top: solid #262626 .4em;; background: #3c3c3c; float: left; margin-bottom: .3em; margin-right: 0%; width: 19.2%; height: 28em; }


#social_media li.yellow {background: #ffffbe;}

#social_media li.blue {background: #b9f2ff;}

#social_media li#blog_sm {border-right: solid #262626 .4em;}

#social_media li#tm a.bn_link:hover {background: url("/images/beanavista.jpg") 0% 10%; float: left;}

#social_media li#email a.bn_link:hover {background: url("/images/beanavista.jpg") 100% 10%; float: left;}


#social_media li#twitter-container a.bn_link:hover {background: url("/images/sasquash.jpg") 0% 10%; float: left;}

#social_media li#facebook_container a.bn_link:hover {background: url("/images/sasquash.jpg") 100% 10%; float: left;}

#social_media li#blog_sm a.bn_link:hover {background: url("/images/sticky_pork.jpg") 10% 10%; float: left;}


 a.bn_link {float:left; width: 100%; height: 6em;}

 a.bn_link:hover {background: url("/images/beanavista.jpg"); float: left;}

#social_media div.sm_summary {font-family: "arabolic"; color: #262626; font-size: 18pt; position: relative; float: left; width: 100%; margin-top: .5em;}

.text_exp {float: left; margin-left: .4em;}


#facebook_div {background: #7A8B8B; float: left; width: 185px;}
#social_media div.sm_summary img {width: .9em; margin: .3em;  float: left; }	
#left_column #email_subscribe {font-size: 1.4em; margin-left: 0;}
#left_column #text-alert {font-size: 1.4em}
#footer {float: left; margin: 0 auto; float: left; margin-left: 1%; width: 99%; margin-top: .3em; 	
	position: relative; padding-bottom: 1.5em;}

#twitter_div {float: left; }
#twitter_div p {font-size: 1.1em;}
#footer li {width: 20%; list-style-type: none; float: left; position: relative; color: black; font-family: "Classic-Round", sans-serif; font-weight: 900; font-size: .75em; padding: 0; margin: 0;}

#bottom nav li#tm a:hover {background: url("/images/beanavista.jpg"); float: left;}

#footer li#email {width: 24%;}
#footer li#blog {width: 23%;}
#footer li#cell {width: 13%;}

#footer span.media {float: left; width: 100%; font-family: "amperzand"; font-size: 1.6em; color: white;}
#footer span.value {float: left; width: 100%; font-size: 1em; color: black;}
#footer a {color: black;}

span#arabolic {font-family: "Arabolic"; }

/*used in contact and catering*/

#contact_info {float: left; width: 100%;  margin-left: 2%; font-size: .9em;}
#contact_methods {float: left; width: 70%; margin-top: .5em; margin-left: 3%; }
#contact_info span.value, #contact_info a {font-family: "Amperzand"; }
#contact_info #logo {width: 25%; position: relative; float: left; }
#contact_info #logo img {float: left; margin-top: 1em; width: 100%;}
.media{float: left; width: 21%; padding: .1em; color: white; font-size: 1.15em}

.wrapper {float: left; width: 100%; margin-top: .4em}
.wrapper a {color: white; text-decoration: underline;}
span.value {font-size: 1.3em; float: left; width: 74%; color: white;}
