
<div id="contact_info">
	<div id='logo'>
		<img src='/images/empanada-logo.png' alt="logo" id="contact_logo"/>
	</div>
	<div id="contact_methods">
		<span class="wrapper">
			<span class="media">	email: </span>
	
			<span class="value">
			<a href="mailto:empanadaintifada@gmail.com">empanadaintifada@gmail.com</a>			
			</span>
	
	
			</span>

		<span class="wrapper"><span class="media">	cell: </span><span class="value"> (504) 684-5358	</span></span>
		<span class="wrapper"><span class="media">	blog: </span><span class="value"> <a href="http://empanadaintifada.tumblr.com" target="_blank"> empanadaintifada.tumblr.com	</a></span></span>

		<span class="wrapper"><span class="media">	facebook:</span><span class="value"> <a href='http://www.fb.com/empanadaintifada' target="_blank">fb.com/empanadaintifada	</a></span></span>

		<span class="wrapper"><span class="media">	twitter: </span><span class="value"><a href="http://www.twitter.com/empanadaintifad" target="_blank">@empanadaintifad</a></span></span>
	</div>
</div>