<section id="footer">
	<ul>
	<li id="email">
		<span class="media">Email: </span>
		<span class="value"> <a href="mailto:empanadaintifada@gmail.com">empanadaintifada@gmail.com</a>	</span>
	</li>		
	<li id="cell">
		<span class="media" >	cell: </span>
		<span class="value"> (504) 684-5358	</span>
	</li>
	<li id="blog">
		<span class="media">	blog: </span>
		<span class="value"><a href="http://empanadaintifada.tumblr.com" target="_blank"> empanadaintifada.tumblr.com</a></span>
	</li>
	<li>
		<span class="media">facebook: </span>
		<span class="value"> <a href='http://www.fb.com/empanadaintifada' target="_blank">fb.com/empanadaintifada	</a>	</span>
	</li>
	<li>
		<span class="media">Twitter: </span>
		<span class="value"> <a href="http://www.twitter.com/empanadaintifad" target="_blank">@empanadaintifad</a></span>
	</li>

	
</section>