<h3>Connect with the <span id="arabolic">Empanada Intifada Food Truck</span></h3>




<ul id="social_media">
	
	<li> 
		<a id="text-alert" href="/follow"><span class="sm_summary"><img src="/images/empanada-logo.png"/>Text-Alerts</span></a>
</a> <span class="text_exp">Receive a text message every time we roll into your neighborhood </span>
	</li>
		
	<li>
		<span class="sm_summary"><img src="/images/empanada-logo.png"/>Email Newsletter</span>
		<span class="text_exp"><a href="/follow">Subscribe</a>
	</li></span>

	<li>
		<span class="sm_summary">
			<img src="/images/empanada-logo.png"/>Twitter
		</span>
		<span class="text_exp">
			<a href="https://twitter.com/empanadaintifad" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @empanadaintifad</a>
		</span>
	</li>
	
	<li>
		<span class="sm_summary">
			<img src="/images/empanada-logo.png"/>Facebook
		</span>
		<span class="text_exp">
			<div class="fb-subscribe" data-href="https://www.facebook.com/empanadaintifada" data-show-faces="false" data-width="100"></div>
		</span>
	</li>

	<li>
		<span class="sm_summary">
			<img src="/images/empanada-logo.png"/>Tumblr Blog
		</span>
		<span class="text_exp">
			<a href="http://empanadaintifada.tumblr.com/rss">
			<img class="rss_button" src="/images/rss-button.png" alt="rss"/>
			</a>
		<span>
		</li>

</ul>


<script src="http://widgets.twimg.com/j/2/widget.js"></script>

<div id="twitter_div">
	
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like-box" data-href="http://www.facebook.com/empanadaintifada" data-width="251" data-show-faces="true" data-stream="false" data-header="true"></div>

<p></p>