<h3>Connect with the <span id="arabolic">Empanada Intifada Food Truck</span></h3>
<p id="twitter_explanation"> <a href="/users/new"> Sign up </a>for text alerts to receive a message every time we roll into your neighborhood or
check out our Twitter feed below for our current whereabouts </p>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<a href="https://twitter.com/empanadaintifad" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @empanadaintifad</a>
<div id="twitter_div">
	
</div>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like-box" data-href="http://www.facebook.com/empanadaintifada" data-width="292" data-show-faces="true" data-stream="false" data-header="true"></div>

<p></p>