<ul id="nav">
	<li id="home">
		<a href="/">
			Home
		</a>
	</li>
	<li id="follow">
			<a href="/users/new">
			Follow
		</a>
	</li>
	<li id="events">
		<a href="/events">
			Calendar
		</a>
	</li>		

	<li id="menu">
		<a href="/menu">
			Menu
		</a>
	</li>
	<li id="about">
		<a href="/about">
			About
		</a>
	</li>
	
	<li id="blog_nav">
		<a href="/blog">
			Blog
		</a>
	</li>
	<li id="catering">
		<a href="/catering">
			Catering
		</a>
	</li>
	<li id="contact_link">
		<a href="/contact">
			Contact
		</a>
	</li>
			
</ul>