<div id="special_news">
<div id="sn_text">
	<h1> Calling All Artists! Design A Mobile Mural on Our Truck</h1>
	<p>Announcing the Empanada Intifada's "This is Not a Food Truck" Contest.  Submit mural ideas and sketches to empanada.intifada@gmail.com.  Deadline extended! Details on our <a href="/art">contest page</a></p>
</div>
<div id="sn_pic"><%= image_tag "dream_truck.png" %> </div>

</div>
