<a name="text-signup">
		<h2>Join a Text Message Group!</h3>
	</a>
		<ol>
			<li>
				You've got options: choose one of the text message groups below.  
			</li>
			<li>Text the keyword in CAPS to (504) 684-5358.  </li>
			<li>Enjoy blowing your friends out of the water with your ability to smell empanadas from miles away. You'll receive a text when we're coming to your area. </li>
		</ol>
<div class="text_instruction_wrapper">
	<span class="keyword">text FANATIC to (504)684-5358  </span> 

	<span class="explanation">(Get every movement of the Empanada Intifada)</span>
	</div>
	<div class="text_instruction_wrapper">
		
	<span class="keyword">text DAILY to (504)684-5358 </span>
	<span class="explanation"> (Get a daily digest text with the general outlines of our plan each morning).  </span>
	</div>
	<div class="text_instruction_wrapper">
				
	<span class="keyword">text TULANE to (504)684-5358 </span><span class="explanation">(Uptown near Tulane and Loyola campuses)</span>
	</div>
	
	<div class="text_instruction_wrapper">		
	<span class="keyword">text BROAD to (504)684-5358  </span><span class="explanation">(Broad St between Canal and Poydras)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text UPTOWN to (504)684-5358 </span> <span class="explanation"> (Uptown watering holes and lunch spots)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text CBD to (504)684-5358 </span><span class="explanation">(the outskirts of the CBD - either Claiborne Ave near hospitals or Howard Ave)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text GARDEN to (504)684-5358  </span> <span class="explanation">(the Garden District and Central City)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text FRENCHMEN to (504)684-5358  </span> <span class="explanation">(Frenchmen, late night and maybe lunch)</span>
	</div>
	
	<div class="text_instruction_wrapper">
	<span class="keyword">text BYWATER to (504)684-5358 </span><span class="explanation">	(The rest of the Marigny/Bywater)</span>
	</div>

</div>