<ul id="nav">
	<li>
		<a href="/">
			Home
		</a>
	</li>		
	<li>
		<a href="/about">
			About
		</a>
	</li>
	<li>
		<a href="/menu">
			Menu
		</a>
	</li>
	<li>
		<a href="/blog">
			Blog
		</a>
	</li>
	<li id="contact_link">
		<a href="/contact">
			Contact
		</a>
	</li>

			
</ul>