<%= render :partial => "shared/nav_bar"%>
<div id="central_container">
<div id="central_content">
	

	

<img class="logo" src="/images/empanada-logo.png" alt="Empanada Logo"/>			<div id="primary"><h1>The Emergence of the Intifada</h1>
		<p>Based in the New Orleans Bywater, the Empanada Intifada is a labor of love. In the last two years, you've watched us take a 1981 Grumman Step Van and transform it into New Orleans' first Solar-Electric food truck, serving gourmet empanadas with fresh, local ingredients.  After years of operating in the shadows while renovating the truck, the Empanada Intifada is now operating full-time, in broad daylight. <p>For whereabouts, current menu, discounts, and more, register for our <a href="/users/new#text-signup">text-message </a> alert system, sign up for our <a href="/users/new#email-signup"> email newsletter</a>, and follow us on <a href="http://www.facebook.com/empanadaintifada" target="_blank">Facebook,</a> 
		our blog at <a href="http://empanadaintifada.tumblr.com" target="_blank">Tumblr,</a> and 
		<a href="http://twitter.com/empanadaintifad" target="_blank"> Twitter.</a>
		</p>
	</div>	 

</div>
 <%= render :partial => "shared/bottom_nav"%>
</div>


	<%= render :partial => "shared/footer" %>
	