<%= render :partial => "nav_bar"%>
<div id="central_container">
<div id="central_content">
	<div id="left_column">
	<%= render :partial => "left_column"%>
	</div>
	<div id="right_column">
	<h1><img src="/images/empanada-logo.png" alt="Empanada Logo"/><span>The Origins of the Intifada</span></h1>

	<p>Our careers involved bureaucratic cubicles and business casual wear.  
	Our lives and resumes showed the outward trappings of success.
	But there were inner warnings of existential decay. The only (un)suitable response was a rebellion 
	against prescribed professionalism, an uprising against alienation, a shaking off of the trappings that had become a trap....an Intifada. </p>

	<p>In October 2010, re-devoted to the art of living, we hatched an exit plan from the institutions that confined us.  
	Drawing upon our past lives in South America, we began the Empanada Intifada: a quest to create a 
	gourmet food truck, serving SlapYourThigh delicious, life-reaffirming, health-promoting, local, seasonal,
	damn-near-treasonously good empanadas. </p>

	<p>After almost two years of operating in the shadows while renovating the truck, the Empanada Intifada is starting to operate full-time, in broad daylight. For whereabouts, current menu, discounts, and more, register for our <a href="/contact#textmark">text-message </a> alert system, sign up for our <a href="/contact#emailmark"> email newsletter</a>, or follow us on <a href="http://www.facebook.com/empanadaintifada" target="_blank">Facebook,</a> 
	our blog at <a href="http://empanadaintifada.tumblr.com" target="_blank">Tumblr,</a> and 
	<a href="http://twitter.com/empanadaintifad" target="_blank"> Twitter.</a></p>
		<img id="dream_truck" src="/images/dream_truck.png" alt="Dream Truck"/>
	</div>