<%= render :partial => "nav_bar"%>
<div id="central_container">

<div id="central_content">
	<div id="left_column">
	<%= render :partial => "left_column"%>
	</div>
			<%= render :partial => "header"%>
	<div id="right_column">
		<div id="news"> 
			<div id="news_left">
			<h3> Empanada Intifada In the News:</h3>
		
			</div>
			<div id="news_right">	
				<a class="news-item" href="http://www.gonola.com/2011/09/20/gonola-top-5-new-orleans-food-trucks.html">
					<img src="/images/go_nola.jpg"/> 
					<span> GoNOLA names EI top food truck </span> 
				</a>
				<a class="news-item" href="http://www.details.com/style-advice/food-and-drinks/201205/farmers-markets-at-night">
					<img src="/images/details.jpg"/> 
					<span> Details Magazine Shows Love for the Mestizo Meat Pie</span> 
				</a>
				<a class="news-item" href="http://nola.eater.com/archives/2012/06/01/guerilla-trucking-with-empanad-intifadas-taylor-jackson.php">
					<img src="/images/eater-nola-icon.png"/> 
					<span> Eater NOLA goes long with EI </span> 
				</a>	
			</div>							
		</div>
		<div id="photo_border">
		<div id="slideshow">
	  		<div id="image_div1" class="active">
				<img src="/images/sasquash.jpg"/>
			</div>
	  		<div id="image_div2">
				<img src="/images/sangria.jpg" />
			</div>
			<div id="image_div3">
				<img src="/images/beanavista.jpg" />
			</div>
		</div>	
		</div>
	</div>
</div>
