<%= render :partial => "shared/nav_bar"%>
<div id="central_container">

<div id="central_content">


<div id="menu_container">

	<section id="menu_top">
			
			<img class="left_corner" src="/images/empanada-logo.png"/>
		<h1>	The Empanada Intifada Menu </h1>
			<img class="right_corner" src="/images/empanada-logo.png"/>
		 	</section>
		
			<div id="watermark">
			
	<section id="menu_description">
			<span> The Empanada Intifada menu changes daily depending on supply, seasonal availability of produce, and the desires of you, the Empanada Eating public.  We publish current menus on social media outlets.  Below are some highlights.</span>
	</section>		
	<section id="fillings">
	<h1> Empanada Fillings</h1>

	<h2> Mestizo Meat Pie (Beef)</h2>
	<span class="item_description"> 
		Our fusion of the traditional empanada with the traditional meat pie: Argentine Mendoza empanada (Angus beef, onions, eggs, potatoes, and olives) meets the celery, green peppers and green onions of Louisiana's Natchitoches Meat Pie.
 	</span>
	
	<h2>Hobo's Pollo Adobo (Chicken)</h2>
	<span class="item_description"> 
	Filipino-style pulled chicken marinated in soy sauce and rice vinegar, with tomatoes, green onion, Jazzmen rice and potatoes. 
 	</span>

	<h2> The SaSquash (Squash and Cheese)</h2>
	<span class="item_description"> Roasted butternut squash and summer squash with caramelized onions and sharp cheddar cheese.
 	</span>
	<h2> Hispanakopita (Spinach and Goat Cheese)</h2>
	<span class="item_description"> 
		Spinach with Chevre, tomatillo salsa, and honey-ancho roasted pepitas.
 	</span>
	<h2> Sticky Grapefruit Pulled Pork (Pork Butt)</h2>
	<span class="item_description"> 
Pulled pork marinated in grapefruit juice and molasses with sweet potatoes and candied greens </span>
	<h2> Citrus Carnitas (Pork Shoulder)</h2>
	<span class="item_description"> 
		Pork shoulder carnitas braised in a Satsuma (or Clementine) mint gastrique with mashed parsnips and red potatoes.  (Seasonal Availability)
</span>

	<h2> Bean-a Vista Social Club (Cuban Black Bean)</h2>
		<span class="item_description"> 
	Cuban-style black beans cooked in citrus with fried plantain and coconut Jazzmen rice.
	</span>
	
	<h2> Wok yer socks off (Peanut Stir Fry)</h2>
	<span class="item_description"> 
	Seasonal veggies in a spicy peanut sauce with brown Jazzmen rice.
	</span>
	</section>
	<section id="sides_accompaniments">
		<h1>Sides:</h1>
		<h2>Poblano-Cream Mac and Cheese</h2>
	<span class="item_description"> 
		Roasted Poblano Bechamel sauce and farfalle baked with and Quesos Cotija and Oaxaca and lime juice.
	<span>

	<h2>Chorizo Red Beans and Arroz</h2>
		<span class="item_description"> 
		The traditional Louisiana favorite slow cooked with spiced ham, andouille sausage and topped with the latin twist of chorizo and Spanish Rice.
		</span>
		
	<h2> Vegan Red Beans and Arroz </h2>
		<span class="item_description"> 
		Our red beans and rice with veggie Spanish Rice (cooked in Veggie broth rather than Chicken Broth) and vegan chorizo.
		</span>
		<h2> Sesame Quinoa Salad </h2>
			<span class="item_description"> 
			Toasted Quinoa with roasted seasonal vegetables and a sesame dressing.</span>
	
	<h1>Accompaniments:</h1>
	<h2>
		Curtido Cabbage Salad
	</h2>
	<span class="item_description"> 
		The ultimate Salvadoran palate cleanser, fresh chopped cabbage and carrots rubbed down with citrus, vinegars, whole cumin seeds and oregano.  
	</span>
	
	<h2>	Chimichurri  Sauce</h2>
	<h2> Chipotle Lime Aioli</h2>

	</section>
	</div> <!--watermark -->
	<section id="menu_bottom">
		<h1>Call for catering (504) 684-5358</h1>
		<img class="left_corner" src="/images/empanada-logo.png"/> 
		<h1 id="subscribe">	
					Subscribe to empanada.intifada@gmail.com
			
		</h1> 	<img class="right_corner" src="/images/empanada-logo.png"/>	
	</section>

</div>

		<h2><a href="/contact#textmark">How do I find this delicious moving food?</a></h2>

	</div>



 <%= render :partial => "shared/bottom_nav"%>
</div>
	<%= render :partial => "shared/footer" %>