@import url("/stylesheets/site_all.css");
li#follow {background: url("/images/empanada-logo-background-only.png");}
li#follow a:hover {color: black;}

#newsletter_title {font-family: 'Arabolic'; font-size: 1.3em}

img#logo {width: 40%; float: left; margin-right: 1%; }
#email_intro {float: left; width: 50%;}
#email_form {width: 50%; float: left;}

#central_content .field {float: left; position: relative; width: 100%; color: white; font-family: "Jura-bold"; font-size: 1.5em; margin-bottom: .4em;
}


#central_content .field label {float: left; margin-top: .3em; width: 20%;}
#central_content .field input {width: 70%;   margin-left: 3%; float: left; font-family: "Jura-bold"; font-size: 1.3em;}
#central_content .actions input {float: left; margin-left: 70%; background: url("/images/empanada-logo.png");
 height: 1.5em; font-size: 2em; font-family: "arabolic"; margin-top: .2em; margin-bottom: .6em; margin-right: 27%;}

h3 {color:white;}
ol {color: white;}
.keyword {float: left; width: 55%; color: white; font-size: 1.1em}
.explanation {float: left; width: 44%; margin-left: 1%; color: white; font-size: 1.1em}

.text_instruction_wrapper {float:left; width: 100%; margin-bottom: .5em;}

#central_content p#exit {float: left; width: 50%; margin: 0; padding: 0;}