@import url("/stylesheets/site_all.css");
li#follow {background: url("/images/empanada-logo-background-only.png");}
li#follow a:hover {color: black;}

#header {width: 25%;}
#header img {width: 100%; float: left; margin-top: 1em;}
#general {float: left; width: 73%; margin-left: 2%;}

.media{float: left; width: 21%; padding: .1em; color: white; font-size: 1.2em}


.wrapper {float: left; width: 100%; margin-top: .4em}
.wrapper a {color: white; text-decoration: underline;}
span.value {float: left; width: 74%; font-size: 1.3em; color: white;}

h2 {color: white; font-family: 'Arabolic'; margin-top: .8em; float: left; width: 100%; font-size: 1.7em;}
#newsletter_title {font-family: 'Arabolic'; font-size: 1.3em}

.field {float: left; position: relative; width: 100%; color: white; font-family: "Jura-bold"; font-size: 1.5em; margin-bottom: .4em;
}
.field label {float: left; margin-top: .3em;}
.field input {width: 65%; min-width: 380px; margin-right: 22%; margin-left: 3%; float: left; font-family: "Jura-bold"; font-size: 1.3em;}
 input#user_submit {float: right; margin-left: 50%; background: url("/images/empanada-logo.png");
 height: 1.5em; font-size: 2em; font-family: "arabolic"; margin-top: .2em; margin-bottom: .6em; margin-right: 27%;}

h3 {color:white;}
ol {color: white;}
.keyword {float: left; width: 55%; color: white; font-size: 1.1em}
.explanation {float: left; width: 44%; margin-left: 1%; color: white; font-size: 1.1em}

.text_instruction_wrapper {float:left; width: 100%; margin-bottom: .5em;}