<%= render :partial => "shared/nav_bar"%>
<div id="central_container">
<div id="central_content">
	

	
	<div id="right_column">

	</div>
</div>

<div id="left_column">
 <%= render :partial => "shared/bottom_nav"%>
</div>
</div>
	<%= render :partial => "shared/footer" %>